.amaderReview {
    background-image: url('../../../../assets/img/review-shape.png');
    margin-bottom: 100px;
}

.review-header .reviwer-img {
    width: 65px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.review-header .website-image img {
    width: 80px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.review-person {
    display: flex;
}

.review-person-info h3 {
    font-size: 23px;
    font-weight: 500;
}

.review-person-info p {
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    color: #000;
}

.review-person-info .podobi {
    font-size: 18px;
}

/* .review-person-info {
    margin-left: 10px;
} */

.review-start {
    color: gold;
    font-size: 14px;
}

.review-start i {
    margin-left: 3px;
}

.review-body {
    font-size: 17px;
    line-height: 27px;
}

.single-review {
    padding: 40px;
}

.amderReview-header h2 {
    font-size: 34px;
    font-weight: 600;
}