@import url('https://fonts.maateen.me/kalpurush/font.css');

body {
  margin: 0;
  font-family: 'Kalpurush', Arial, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}