@import url('https://fonts.maateen.me/kalpurush/font.css');

body {
  margin: 0;
  font-family: 'Kalpurush', Arial, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

.styled-heading {
  position: relative;
  display: inline-block;
}

.styled-heading:after {
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #EB3232;
  left: 0;
}